body{
    margin: 0;
    padding: 0;
    background-color: rgb(233, 233, 233);
    overflow-x: hidden;
}
* {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
  }

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 21px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 61px;
    border: 3px none #940505;
  }